<div class="container-fluid container-show">
  
  <%# Equipment Section %>

  <%# Equipment Image %>
  <div class="row d-flex">
    <div class="col-md-5 mb-3 pl-0 align-self-center">
      <%= cl_image_tag(@equipment.photo.key, class: "img-fluid img-show", alt: "Equipment Image", style: "width: 100%; height: auto;") %>
    </div>

    <%# Equipment Details %>
    <div class="col-md-7 my-3 align-self-center equipment-details">

      <%# Sport %>
      <h5><%= @equipment.sport %></h5>

      <%# Equipment Name %>
      <h2 class="mb-3"><%= @equipment.equipmentname %></h2>
      <ul class="location-price d-flex">

        <%# Price %>
        <li class="pe-4 d-flex">
          <img src="https://cdn-icons-png.flaticon.com/512/112/112548.png" alt="Price" width="18px" class="align-self-center me-2">
          <span class="align-self-center"><%= @equipment.price %>€ / day</span>
        </li>

        <%# Location %>
        <li class="pe-4 d-flex">
          <img src="https://cdn-icons-png.flaticon.com/512/2838/2838912.png" alt="Location" width="18px" class="align-self-center me-1">
          <span class="align-self-center"><%= @equipment.address %></span>
        </li>
      </ul>
      <p><%= @equipment.description %></p>

      <%# Buttons %>
      <div class="my-4">
        <% if policy(@equipment).edit? %>
          <%= link_to "Edit", edit_equipment_path(@equipment), class: "btn btn-success" %>
        <% end %>
        <% if policy(@equipment).destroy? %>
          <%= link_to "Delete", equipment_path(@equipment), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
        <% unless @equipment.user == current_user %>
          <%= link_to "Book", new_equipment_booking_path(@equipment), class: "btn btn-success" %>
        <% end %>
        <%= link_to "Back", equipment_index_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>

  <%# Bookings Section %>
  <div class="my-5">
    <h3 class="mb-4"><%= pluralize( @equipment.bookings.size, 'Booking' ) %></h3>
    <% @equipment.bookings.each do |booking| %>
      <p>Booked from <%= booking.start_date %> to <%= booking.end_date %> by <%= booking.user.email %></p>
    <% end %>
  </div>
</div>
