<div class="card mb-2">
  <!-- Image -->
  <%= link_to equipment_path(equipment), class: "card-link" do %>
  <% if equipment.photo.present? %>
   <%= cl_image_tag(equipment.photo.key, class: "card-img-top img-fluid card-photo-index", style: "height: 304px; object-fit: cover;") %>
   <% end %>
  <% end %>

  <!-- Contents -->
  <div class="card-body">
    <!-- Sport -->
    <p class="card-title ms-1 mt-1"><%= equipment.sport %></p>

    <!-- Equipment name -->
    <h5 class="card-title ms-1"><%= equipment.equipmentname %></h5>

    <!-- Link to equipment details -->
    <div class="d-flex justify-content-between align-items-baseline">
      <%= link_to "View Gear", equipment_path(equipment), class: "btn btn-outline-success card-button mt-2 mb-1 ms-1" %>

      <!-- Price -->
      <span class="card-price pe-1">$<%= equipment.price %> / day</span>
    </div>
  </div>
</div>
