<div class="card mb-2">
  <!-- Image -->
  <%= link_to equipment_path(equipment), class: "card-link" do %>
  <% if equipment.photo.present? %>
   <%= cl_image_tag(equipment.photo.key, class: "card-img-top img-fluid card-photo-index", style: "height: 304px; object-fit: cover;") %>
   <% end %>
  <% end %>

  <!-- Contents -->
  <div class="card-body ms-1">
    <!-- Sport -->
    <p class="card-title mt-1"><%= equipment.sport %></p>

    <!-- Equipment name -->
    <h5 class="card-title"><%= equipment.equipmentname %></h5>

    <ul class="location-price mt-3">

        <%# Price %>
        <li class="d-flex pb-2">
          <img src="https://cdn-icons-png.flaticon.com/512/112/112548.png" alt="Price" width="18px" class="align-self-center me-2">
          <span class="align-self-center"><%= equipment.price %>€ / day</span>
        </li>

        <%# Location %>
        <li class="d-flex">
          <img src="https://cdn-icons-png.flaticon.com/512/2838/2838912.png" alt="Location" width="18px" class="align-self-center me-1">
          <span class="align-self-center"><%= equipment.address %></span>
        </li>
      </ul>
  </div>
</div>
